@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #eaeded;
}

.title {
  color: #2841c4;
  font-size: 1.7rem;
  font-family: "Oswald", sans-serif;
  margin-bottom: 2rem;
}

.title-detail {
  font-weight: 600;
  font-size: 1.7rem;
}

header {
  background-color: #2841c4;
  color: #f7f7f7;
  text-align: center;
  padding: 0.5rem 0;
}
header P {
  font-size: 0.8rem;
  font-weight: 500;
}
header a {
  color: #f7f7f7;
}

.navbar {
  background-color: #f7f7f7;
}

.nav-link {
  font-size: 0.9rem;
  text-align: center;
}

.nav-link:hover {
  color: #2841c4;
}

.home-items {
  padding: 4rem 0;
}
.home-items .card {
  padding: 2rem;
}
.home-items .card h4 {
  color: #2841c4;
  font-weight: 600;
}
.home-items .card p {
  margin-bottom: 2rem;
}
.home-items .card a {
  text-decoration: none;
  border: 1px solid #2841c4;
  color: #2841c4;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.home-items-2-container {
  padding-bottom: 4rem;
}

.home-items-2 {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-items-cards {
  display: flex;
}
.home-items-cards i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #2841c4;
}
.home-items-cards p {
  font-size: 0.9rem;
  margin: 0;
}

.card {
  border-radius: 5px;
  height: 100%;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: 75%;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
}
.img-card-container img {
  width: 70%;
}

.product-detail {
  padding: 1rem;
}

.product-title {
  font-size: 1.1rem;
  color: #141414;
  margin: 0;
  font-weight: 600;
  color: #141414;
}

.categorie {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.detail-view {
  text-decoration: none;
  color: #f7f7f7;
  background-color: #2841c4;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.price {
  color: #2841c4;
  font-weight: 600;
}

.product-detail-section {
  padding: 5rem 0;
}

.view-img-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-img-container img {
  height: 80%;
}

.product-details-view h3 {
  font-weight: 600;
}
.product-details-view button {
  border: none;
  color: #f7f7f7;
  background-color: #2841c4;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.seller {
  color: #969696;
}

.price-detail {
  color: #2841c4;
}

.form {
  padding: 5rem 0;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form label {
  color: #2841c4;
}

.footer {
  background-color: #141414;
  color: #f7f7f7;
  font-size: 0.9rem;
}

.footer-first {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-first p {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.social {
  display: flex;
  justify-content: center;
}
.social i {
  padding: 1rem;
  font-size: 1.5rem;
}

.copy {
  padding-top: 5rem;
  color: #4f4f4f;
}

.admin {
  padding: 3rem 0;
}

.publish-btn a {
  border: none;
  background-color: #2841c4;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #f7f7f7;
}

table {
  background-color: #f7f7f7;
}

th,
td {
  border: 1px solid #141414;
  padding: 0.5rem 0.8rem;
}

td {
  font-size: 0.9rem;
}

.td-img {
  text-align: center;
}
.td-img img {
  width: 50%;
}

.delete {
  border: none;
  color: rgb(181, 9, 9);
  background-color: rgb(241, 183, 183);
  padding: 0.4rem 0.9rem;
  border-radius: 5px;
  font-size: 0.8rem;
  text-decoration: none;
}

.delete-confirm {
  border: none;
  color: rgb(181, 9, 9);
  background-color: rgb(241, 183, 183);
  padding: 0.4rem 0.9rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
}

.publish {
  padding: 3rem 0;
}
.publish form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.publish form label {
  font-weight: 600;
  margin-top: 1rem;
}
.publish form button {
  border: none;
  color: #f7f7f7;
  background-color: #2841c4;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.success {
  background-color: #c2f3c2;
  color: #033d03;
  padding: 0.6rem;
  font-size: 0.9rem;
  width: 100%;
}

.error {
  font-size: 0.9rem;
  color: rgb(181, 9, 9);
  width: 100%;
  margin-bottom: 0.5rem;
}

.small {
  font-size: 0.9rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  .footer-first {
    align-items: start;
  }
  .footer-first p {
    width: 50%;
    text-align: left;
  }
  .social {
    justify-content: end;
  }
}/*# sourceMappingURL=style.css.map */