// Colors
$yellow: #f0d042;
$blue: #2841c4;
$black: #141414;
$white: #f7f7f7;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald:wght@400;500&display=swap');

// Normalize
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background-color: #EAEDED;
}

.title{
  color: $blue;
  font-size: 1.7rem;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2rem;
}

// Header
header {
  background-color: $blue;
  color: $white;
  text-align: center;
  padding: 0.5rem 0;

  P {
    font-size: 0.8rem;
    font-weight: 500;
  }

  a {
    color: $white;
  }
}

// Nav
.navbar{
  background-color: $white;
}

.nav-link {
  font-size: 0.9rem;
  text-align: center;
}

.nav-link:hover {
  color: $blue;
}

// Home
.home-items{
  padding: 4rem 0;

  .card{
    padding: 2rem;

    h4{
      color: $blue;
      font-weight: 600;
    }

    p{
      margin-bottom: 2rem;
    }

    a{
      text-decoration: none;
      border: 1px solid $blue;
      color: $blue;
      background-color: transparent;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-size: 1rem;
    }
  }
}

.home-items-2-container{
  padding-bottom: 4rem;
}

.home-items-2{
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-items-cards{
  display: flex;

  i{
    font-size: 2rem;
    margin-right: 1rem;
    color: $blue;
  }

  p{
    font-size: 0.9rem;
    margin: 0;
  }
}

// Shop
.card {
  border-radius: 5px;
  height: 100%;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: 75%;
  border-bottom: 1px solid #dedede;
  overflow: hidden;

  img {
    width: 70%;
  }
}

.product-detail {
  padding: 1rem;
}

.product-title {
  font-size: 1.1rem;
  color: $black;
  margin: 0;
  font-weight: 600;
  color: $black;
}

.categorie {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.detail-view {
  text-decoration: none;
  color: $white;
  background-color: $blue;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.price {
  color: $blue;
  font-weight: 600;
}

// Detail view
.product-detail-section{
  padding: 5rem 0;
}

.view-img-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 80%;
  }
}

.product-details-view {
  h3 {
    font-weight: 600;
  }

  button {
    border: none;
    color: $white;
    background-color: $blue;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
  }
}

.seller {
  color: #969696;
}

.price-detail {
  color: $blue;
}

// Contacto
.form{
  padding: 5rem 0;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  label{
    color: $blue;
  }
}

// Footer
.footer{
  background-color: $black;
  color: $white;
  font-size: 0.9rem;
}

.footer-first{
  display: flex;
  align-items: center;
  flex-direction: column;

  p{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}

.social{
  display: flex;
  justify-content: center;

  i{
    padding: 1rem;
    font-size: 1.5rem;
  }
}

.copy{
  padding-top: 5rem;
  color: #4f4f4f;
}

// Admin
.admin{
  padding: 3rem 0;
}

table{
  background-color: $white;
}

th, td{
  border: 1px solid $black;
  padding: 0.5rem 0.8rem;
}

td{
  font-size: 0.9rem;
}

.td-img{
  text-align: center;

  img{
    width: 50%;
  }
}

// Publish
.publish{
  padding: 3rem 0;
}

// Mediaqueries 
@media (min-width: 576px) {
  .footer-first{
    align-items: start;
    
    p{
      width: 50%;
      text-align: left;
    }
  }

  .social{
    justify-content: end;
  }
}



